<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x"
      crossorigin="anonymous"
    />
    <title>Fitness Tracker</title>
  </head>
  <body>
    <main class="container">
      <h1>Exercise Tracker</h1>
      <section class="row justify-content-start">
        <div class="col-4">
          <div class="card">
            <h4 class="card-title">Create a New User</h4>
            <div class="card-body">
              <code>POST /api/users</code>
              <br />
              <br />
              <form action="/api/users" method="POST">
                <input
                  type="text"
                  name="username"
                  id="username"
                  placeholder="username"
                  class="form-control"
                />
                <br />
                <button class="btn btn-success">Submit</button>
              </form>
            </div>
          </div>
        </div>
        <div class="col-5">
          <div class="card">
            <h3 class="card-title">Add exercises</h3>
            <div class="card-body">
              <code>POST /api/users/:_id/exercises</code>
              <form id="exercise-form" method="POST">
                <input
                  type="text"
                  name="id"
                  id="id"
                  placeholder=":_id"
                  class="form-control mb-3"
                />
                <input
                  type="text"
                  name="description"
                  id="description"
                  placeholder="description*"
                  class="form-control mb-3"
                />
                <input
                  type="text"
                  name="duration"
                  id="duration"
                  placeholder="duration* (mins)"
                  class="form-control mb-3"
                />
                <input
                  type="text"
                  name="date"
                  id="date"
                  placeholder="date (yyyy-mm-dd)"
                  class="form-control mb-3"
                />
                <br />
                <button class="btn btn-success">Submit</button>
              </form>
            </div>
          </div>
        </div>
      </section>
      <section class="row">
        <div class="col-10">
          <h2>
            GET user's exercise log:
            <code>GET /api/users/:_id/logs?[&from][&to][&limit]</code>
          </h2>
          <h3>[ ]: optional</h3>
          <h3>from,to = dates(yyyy-mm-dd); limit = number</h3>
        </div>
      </section>
    </main>
    <!-- Scripts -->
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
      crossorigin="anonymous"
    ></script>
    <script>
      const exerciseForm = document.getElementById("exercise-form");

      exerciseForm.addEventListener("submit", () => {
        const userId = document.getElementById("id").value;
        exerciseForm.action = `/api/users/${userId}/exercises`;
        exerciseForm.submit();
      });
    </script>
  </body>
</html>
